
body {
  margin: 0;
  padding: 0;
}
.header{
    display: flex;
    background-color: rgb(0, 0, 0);
}
.containar {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

}
.block {
  width: 100px;
  height: 100px;
  background-color: rgb(243, 243, 243);
  display: flex;
}
@media (min-width: 1200px ){
    .containar{
        max-width: 720px;
    }
}
@media (min-width: 750px ){
    .containar{
        max-width: 420px;
    }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 66px 0;
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer{
  width: 100%;
  height: 100%;
  background: #2b2b2c;
}

.footer-title{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
.footer-subtitle{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #000000;
  padding-top: 19px;
}

.footer-subtext{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #919294;
  padding-top: 38px;
}

